<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<appSettings>
    <add key="StorageConnectionString" value="[Your Storage Connection String]" />
    <add key="DatabaseConnectionString" value="[Your SQL Database Connection String]" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=weatherqueue;AccountKey=VntUy6RmlylfPJNAJBpkcWWDzk/DVMThkW2waK8ZB202CZm+jzRlH6sNAp2TCLiv68+HdKkpp7YheW/4hs/RMA==;EndpointSuffix=core.windows.net" />
  </appSettings><system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>